
.App {
  padding-top: 36px;
  text-align: center;
}

.contenedor {
  width: 100%;
}

.control {
  width: 400px;
  margin-left: 410px;
}

.control input {
  width: 70%;
}

.control button {
  width: 30%;
}

#cardMovie{
  margin-left: 280px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 700px;
  height: 220px;
  border-radius: 4px;
  background-color:  rgb(248, 246, 244);
}

#cardMovie img{
  height: 220px;
  width: 300px;
}


.content {
  text-align: left;
}